body {
  font-family: "Montserrat", "Helvetica", "sans-serif";
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  color: #686868;
  background-color: #fff;
}

.header div, nav {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header nav ul li {
  transition-property: color;
  transition-duration: 750ms;
}

.header nav ul li:hover {
  color: #21457f;
}

.header span {
  font-size: 22px;
  margin: auto 0;
}

#colmar {
  color: #3d3d3d;
  font-weight: 600;
}

#academy {
  color: #9b9b9b;
}

.header nav ul li {
  display: inline-block;
  padding: 0 8px;
}

.mobileheader {
  display: none;
}

/*Banner*/

.banner {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  flex-grow: 1;
}

.bannerbox {
  background-color: #e2e2e2;
  max-width: 500px;
  padding: 24px;
  position: relative;
  top: 250px;
  opacity: 0.9;
  transition-property: opacity;
  transition-duration: 750ms;
}

.bannerbox:hover {
  opacity: 1;
}

.banner h1 {
  font-weight: 800;
  color: #3d3d3d;
  font-size: 30px;
}

.banner h3 {
  font-weight: 600;
  font-size: 24;
  color: #3d3d3d;
}

.banner p {
  width: 200px;
  padding: 8px 0;
  color: #fff;
  background-color: #3d3d3d;
  text-align: center;
  transition-property: background-color;
  transition-duration: 750ms;
}

.banner p:hover {
  background-color: #21457f;
}

.mobilebanner {
  display: none;
}

/*Information*/

.info {
  display: flex;
}

.largeinfo {
  width: 60%;
  height: auto;
  margin: 32px 24px;
}

.largeinfo img {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.largeinfo h2 {
  padding-bottom: 24px;
  color: #3d3d3d;
  font-weight: 800;
  font-size: 28px;
}

.largeinfo span {
  color: #3d3d3d;
  font-size: 12px;
}

.smallinfo {
  width: 100%;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  align-items: center;
}

#noborder {
  border: none;
}

.smallinfo img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.smallinfo h3, .mobileinfo h3 {
  color: #3d3d3d;
  line-height: 1.4;
  font-size: 18px;
}

.smallinfocontainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px 32px 32px auto;
}

.info p, .mobileinfo p {
  color: #686868;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.smallinfo span, .mobileinfo span {
  color: #29abf2;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
  transition-property: font-size;
  transition-duration: 250ms;
}

.smallinfo span:hover {
  font-size: 15px;
}

.mobileinfo {
  display: none;
}

/*Courses*/

.courses {
  background-color: #e2e2e2;
}

.courses h2 {
  padding: 32px 0;
  color: #3d3d3d;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
}

.courses h3 {
  color: #3d3d3d;
  line-height: 1.4;
  font-size: 18px;
}

.courses p {
  color: #686868;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.coursesgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}

.coursesgrid img {
  width: 100%;
  padding-bottom: 16px;
}

.course {
  width: 25%;
  background-color: #fff;
  margin: 12px;
  padding: 16px;
  transition-property: width;
  transition-duration: 500ms;
}

.course:hover {
  width: 30%;
}

.mobilecourses {
  background-color: #e2e2e2;
  display: none;
  padding-bottom: 16px;
}

.mobilecourse {
  background-color: #3d3d3d;
  margin: 24px;
}

.mobilecourses h2 {
  color: #3d3d3d;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  padding-top: 16px;
}

.mobilecourse h3 {
  color: #fff;
  line-height: 1.4;
  font-size: 18px;
  padding: 16px;
}

/*Thesis*/

.thesistitle {
  padding: 32px 0;
  color: #3d3d3d;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
}

.thesis {
  display: flex;
}

.thesis p {
  color: #686868;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 300;
}

.thesis h3 {
  color: #3d3d3d;
  line-height: 1.4;
  font-size: 18px;
}

.thesisvideo {
  width: 60%;
  padding: 0 24px;
}

.smallthesiscontainer {
  width: 40%;
  margin-right: 32px;
}

.smallthesis {
  padding: 16px;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

#nobottomborder {
  border-bottom: none;
}

.smallthesis img {
  width: 40%;
}

/*Footer*/

.footerline {
  border-top: 2px solid #e2e2e2;
  margin-top: 32px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #9b9b9b;
  height: 100px;
  font-size: 12px;
}

.footer p {
  margin: 16px 24px auto 24px;
}

/*Mid-size*/

@media only screen and (max-width: 672px) {

/*Header*/
  .mobileheader {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }

  .header {
    display: none;
  }


/*Courses*/
  .course {
    width: 35%;
  }

  .coursesgrid {
    justify-content: space-around;
  }

}

/*Mobile*/

@media only screen and (max-width: 450px) {

/*Banner*/
  .banner {
    background-image: none;
  }

  .bannerbox {
    margin: 0;
    top: 0;
  }

  .mobilebanner {
    display: block;
    max-width: 450px;
  }

  .mobilebanner img {
    max-width: 100%;
    margin: 0;
  }


/*Information*/
  .info {
    display: none;
  }

  .mobileinfo {
    display: block;
    padding: 16px;
    max-width: 450px;
  }

  .mobileinfo img {
    width: 100%;
    margin: 10px auto;
  }

/*Courses*/
  .courses {
    display: none;
  }

  .mobilecourses {
    display: block;
  }


/*Thesis*/
  .smallthesiscontainer {
    display: none;
  }

  .thesisvideo {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .thesisvideo h3, .thesisvideo p{
    display: none;
  }

/*Footer*/
 #hide {
   display: none;
 }

}
